@import "vars";

.holstep-code-base {
    width: 100%;
    border: $border-width ridge $c-border;
    background-color: $c-dark-bg;

    table {
        tr {
            .left {
                height: 100%;
                width: 4em;
                border-right: $border-width ridge $c-border;
                margin: 0px;
                padding: 0px;
            }

            .right {
                max-width: 100%;
            }
        }
    }
}

.holstep-code-swap {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: $font-size * 1.2;
    text-align: center;
    vertical-align: central;
    background-color: $c-dark-bg;
}

.holstep-code-swap:hover {
    background-color: $c-border;
    cursor: pointer;
}

.holstep-code, .holstep-code-area {
    width: 100%;
    background-color: $c-dark-bg;
    padding: 0.2em;

    span {
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 1.2em;
        display: inline-block;
    }

    .code-VAR {
        color: #fee600;
    }

    .code-FUN {
        color: #e60202;
    }

    .code-SPC {
        color: #ffffff;
        visibility: hidden;
    }

    .code-PAR {
        color: #ffffff;
    }

    .code-SYM {
        color: #05f459;
    }

    .code-PAR-highlight {
        color: $c-link-active;
        cursor: pointer;
    }
}

.holstep-code-area {
    height: 85%;
    overflow: auto;
    border: $border-width ridge $c-border;

    span {
        display: initial;
    }
}
