@import "vars";

body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: $font-size;
    margin: 0px;
    padding: 0px;
    background-color: $c-body-bg;
    color: $c-font;
    box-sizing: border-box;
}

#page {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

// Split Content

$width-left: $split-ratio * 100vw;
$width-right: (1 - $split-ratio) * 100vw;

#content-left, #content-right {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    height: 100vh;
    border: $border-width groove $c-border;
}

#content-left {
    left: 0;
    width: $width-left;
}

#content-right {
    left: $width-left;
    width: $width-right;
}

// Links

a {
    text-decoration: none;
    cursor: pointer;
}

a, a:link, a:visited {
    color: $c-link;
}

a:hover, a:active {
    color: $c-link-active;
}

// Content

.content-area {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
}

.section-title {
    font-size: 1.5em;
    vertical-align: middle;
    color: $c-title;
    font-weight: bold;
    padding-left: 1em;
}

.navbar-button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0.5em;

    .selected {
        background-color: #4456ef;
    }
}

div.hrule {
    width: 100%;
    height: 0.2 * $font-size;
    border-bottom: $border-width ridge $c-border;
}

iframe {
    width: 95%;
    text-align: center;
    height: 66%;
}
