@import "vars";

* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: $c-font;
    box-sizing: border-box;
}

body {
    font-size: $font-size;
    background-color: $c-body-bg;
    margin: 0px;
    padding: 0px;
}

#page {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

// Split Content

$width-left: $split-ratio * 100vw;
$width-right: (1 - $split-ratio) * 100vw;

#content-left, #content-right {
    position: absolute;
    top: 0;
    height: 100vh;
    border: $border-width groove $c-border;
}

#content-left {
    left: 0;
    width: $width-left;
}

#content-right {
    left: $width-left;
    width: $width-right;
}

// Links

a {
    text-decoration: none;
    cursor: pointer;
}

a, a:link, a:visited {
    color: $c-link;
}

a:hover, a:active {
    color: $c-link-active;
}

// Content

.content-area {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.overflow {
    overflow: auto;
}

.no-padding {
    padding: 0em;
}

.section-title {
    font-size: 1.5em;
    vertical-align: middle;
    color: $c-title;
    font-weight: bold;
    padding-left: 1em;
}

.navbar-button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0.5em;
}

.navbar-button.selected {
    background-color: $c-border;
}

div.hrule {
    width: 100%;
    height: 0.2 * $font-size;
    border-bottom: $border-width ridge $c-border;
}

iframe {
    width: 95%;
    text-align: center;
    height: 66%;
}

float-right {
    float: right;
}

float-left {
    float: left;
}

align-right {
    text-align: right;
}

align-left {
    text-align: left;
}

table, tr {
    width: 100%;
}

// Error Message

$box-left: 15vw;
$box-top: 10vh;
$c-box-bg: #c2c2c2;
$c-box-bg-light: #d9d9d9;
$c-box-border: #8f8f8f;

#message-box {
    position: absolute;
    width: 100vw - (2 * $box-left);
    height: 100vh - (2 * $box-top);
    top: $box-top;
    left: $box-left;
    color: #000000;
    background-color: $c-box-bg;
    border: 3px ridge $c-box-border;
    z-index: 1000;
}

.message-box-title {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 10%;
    border-bottom: 3px ridge $c-box-border;
    background-color: $c-box-bg-light;
}

.message-box-detail {
    position: relative;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
}

.message-box-pair, .message-box-key, .message-box-value {
    width: 100%;
}

.message-box-key {
    box-sizing: border-box;
    border: 3px ridge $c-box-border;
    background-color: $c-box-bg-light;
}

.message-box-button {
    background-color: #ffffff;
    cursor: pointer;
    color: black;
    padding: 0.2em;
}

.message-box-detail iframe {
    width: 100%;
    height: 100%;
}

// Other

#wall {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
