// Colors

$c-body-bg: #000066;
$c-font: #ffffff;

$c-border: #4456ef;

$c-link: #ccccff;
$c-link-active: #ff66ff;

// Page Sizing

$font-size: 2.5vh;

$split-ratio: .2;

$border-width: $font-size * 0.2;
